
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'theme';

.logo {

    width: 3em;
    margin-right: 0.5em;

    &:hover { width:3.25em; }
}

.main-logo {

    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;

    span { font-size: 2em; vertical-align: middle; }

}
